<div class="row">
			<div class="col-lg-4">
				<label>IDENTIFICACIÓN:</label>
				<p>{{ object.identificación }}</p>

				<label>NOMBRE:</label>
				<p>{{ object.nombre }}</p>

				<label>APELLIDO:</label>
				<p>{{ object.apellido }}</p>

				<label>TELEFONO:</label>
				<p>{{ object.telefono }}</p>

				<label>DIRECCIÓN:</label>
				<p>{{ object.dirección }}</p>

				<label>CORREO_ELECTRONICO:</label>
				<p>{{ object.correo_electronico }}</p>
				
				{% if object.estado %}
					<p>ACTIVO</p>
				{% else %}
					<p>INACTIVO</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>