<div class="row">
			<div class="col-lg-4">
				<label>CODIGO:</label>
				<p>{{ object.codigo }}</p>

				<label>NOMBRE:</label>
				<p>{{ object.nombre }}</p>

				<label>DESCRIPCIÓN:</label>
				<p>{{ object.descripcion }}</p>

				<label>STOCK:</label><p>
				{{ object.stock }}</p>

				<label>VALOR_UNITARIO:</label>
				<p>{{ object.valor_unitario }}</p>

				<label>PROVEEDOR:</label>
				<p>{{ object.proveedor }}</p>
				
				{% if object.estado %}
					<p>ACTIVO</p>
				{% else %}
					<p>INACTIVO</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>